/****** Main Styling ******/

body {
  font-size: 16px;
  text-align: center;
  background-color: #32cd32;
}

.container {
  padding: 0;
  margin-top: 40px;
}

.footer {
  margin-top: 60px;
}

a {
  color: #2574a9;
}

#inputfield {
  margin-left: 15%;
}

input#button {
  width: 230px;
}

.view {
  position: relative;
  margin: auto;
  margin-top: 40px;
  border: 1px solid #aaa;
  padding: 20px;
  width: 60%;
  min-width: 400px;
  text-align: center;
}

.note {
  margin-top: 85px;
}
